.avatar {
  position: absolute;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%);
}

.avatar-half {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%);
}

.avatar-top {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-95%) scale(0.68);
}
.avatar-top-mobile {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-105%) scale(0.68);
}

.avatar-none {
  transform: translateY(10%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.avatar-none-mobile {
  transform: translateY(44%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.avatar-none-scrolled {
  transform: translateY(-12%) scale(0.6);
  transition: transform 0.3s ease-in-out;
}
.avatar-none-scrolled-mobile {
  transform: translateY(3%) scale(0.75);
  transition: transform 0.3s ease-in-out;
}
