/* General imports */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:ital,wght@0,300;0,400;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:ital,wght@0,300;0,400;0,500;0,700;0,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: #23262c;

    --card: #fafafa;
    --card-foreground: #23262c;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: #9b9a99;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: #cf2b24;
    --destructive-foreground: #ffffff;

    --border: 33 15% 88%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html {
  /* overflow: hidden; */
}
.node-render::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px dotted transparent;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}

.node-render:hover::before {
  border-color: #60a5fa;
}

.node-selected::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px dotted #60a5fa;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader .loader-icon {
  animation: spin 1s linear infinite;
}

.react-colorful__last-control {
  margin-top: 8px;
  max-height: 10px;
  border-radius: 4.6px !important;
}
/* .react-colorful__pointer-fill {
  background-color: white !important;
} */
.react-colorful__pointer {
  height: 10.38px !important;
  width: 10.38px !important;
}

.react-colorful {
  width: 100% !important;
  height: 8.125rem !important;
}
.react-colorful__saturation {
  border-radius: 4.5px !important;
}
.react-colorful__hue .react-colorful__pointer-fill {
  background-color: white !important;
}

@media only screen and (min-width: 1980px) {
  .react-colorful {
    height: 12.375rem !important;
  }
  .react-colorful__pointer {
    height: 15.55px !important;
    width: 15.55px !important;
  }
  .react-colorful__last-control {
    max-height: 14px;
  }
}

userContainer {
  border: none; /* Optional: Remove border from userContainer itself */
}

userContainer > *:hover {
  border: 1px dotted #60a5fa !important; /* Apply border to all children of userContainer */
}

/* fonts */
.body {
  font-family: "Poppins";
}

/* Add this CSS to your styles */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(4%);
    opacity: 0; /* Optional: start with the element hidden */
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* Optional: end with the element fully visible */
  }
}

.animate-flow {
  animation: slideRightToLeft 0.2s ease-out;
  animation-fill-mode: forwards;
}

#editor-header .progress-comp {
  width: 100%;
}
div[containertype="header"] .progress-comp {
  width: 100%;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  margin-bottom: 10px;
  box-sizing: content-box;
}

.scroll-container.show-scrollbar {
  padding-bottom: 5px; /* Adjust for scrollbar size */
  margin-bottom: 1rem !important;
}

/* Hide scrollbar by default */
.scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-container.show-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.no-hover-effects * {
  pointer-events: none;
}

.no-hover-effects *:hover {
  transform: none;
  border-color: inherit;
  color: inherit;
  background-color: inherit;
}